<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<div id="create">
  <form onsubmit={{action "createEmail"}}>
    <div>
      <label for="to">To:</label>
      {{input type="text" id="to" value=to}}
    </div>

    <div>
      <label for="from">From:</label>
      {{input type="text" id="from" value=from}}
    </div>

    <div>
      <label for="subject">Subject:</label>
      {{input type="text" id="subject" value=subject}}
    </div>

    <div>
      <label for="message">Message:</label>
      {{textarea cols="30" id="message" name="" rows="10" value=message}}
    </div>

    <button data-test="send" type="submit">Send</button>
  </form>
</div>
