<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<div id="email">
  <i class="fa fa-arrow-left fa-lg" onclick={{action "toIndex"}}></i>
  <i class="fa fa-trash fa-lg" onclick={{action "deleteEmail" model}}></i>
  <h1>{{model.subject}}</h1>
  <ul>
    <li>To: {{model.to}}</li>
    <li>From: {{model.from}}</li>
  </ul>
  <p>{{model.message}}</p>
</div>
