<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>


<div id="inbox">
  <h3>Starred</h3>
  <ul>
    {{#each model as |email|}}
    {{#if email.starred}}
    <EmailCategory
      @from={{email.from}}
      @message={{email.message}}
      @id={{email.id}}
      >
      <StarButton
	@starred={{email.starred}}
	@buttonText={{"★"}}
	@onClick={{action "star" email}}
	/>
    </EmailCategory>
    {{/if}}
    {{/each}}
  </ul>

  <br/>

  <h3>Other</h3>
  <ul>
    {{#each model as |email|}}
    {{#unless email.starred}}
    <EmailCategory
      @from={{email.from}}
      @message={{email.message}}
      @id={{email.id}}
      >
      <StarButton
	@starred={{email.starred}}
	@buttonText={{"★"}}
	@onClick={{action "star" email}}
	/>
    </EmailCategory>
    {{/unless}}
    {{/each}}
  </ul>

  <div id="compose">
    {{#link-to "compose"}}
    <i class="fa fa-envelope fa-lg"></i>
    {{/link-to}}
  </div>

</div>
{{outlet}}
